<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<style>

    form.active {
        display: block;
    }

    .input-group {
        position: relative;
        align-items: center;
    }


    input[type="password"], input[type="email"], input[type="text"] {
        width: 100%;
        padding-right: 40px; /* Space for the eye icon */
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #ccc;
    }

    .input-group .toggle-password {
        position: absolute;
        right: 10px;
        top: 65%;
        transform: translateY(-32%);
        cursor: pointer;
        color: black;
        font-size: 18px;
        z-index: 2;
    }
</style>
<div class="container-login">
    <div class="form-container-login">

        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>
        
        <% if (messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
        <% } %>

        <form id="changePassword" action="/change_password" method="POST">
            <h2>Change Password</h2>
            <div class="input-group">
                <label for="reg-password">New Password:</label>
                <input type="password" id="reg-password" name="password" autocomplete="new-password" placeholder="Enter your password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('reg-password')"></i>
            </div>
            <div class="input-group">
                <label for="reg-confirm-password">Confirm Password:</label>
                <input type="password" id="reg-confirm-password" name="confirmPassword" placeholder="Confirm your password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('reg-confirm-password')"></i>
            </div>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</div>

<script>
function togglePassword(fieldId) {
    const passwordField = document.getElementById(fieldId);
    const icon = passwordField.nextElementSibling;
    if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        passwordField.type = "password";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}
</script>
