<div class="container-login">
    <div class="form-container-login">
        <form id="changePassword" action="/change_password" method="POST">
            <h2>Change Password</h2>
            <div class="input-group">
                <label for="reg-password">New Password:</label>
                <input type="password" id="reg-password" name="password" autocomplete="new-password" placeholder="Enter your password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('reg-password')"></i>
            </div>
            <div class="input-group">
                <label for="reg-confirm-password">Confirm Password:</label>
                <input type="password" id="reg-confirm-password" name="confirmPassword" placeholder="Confirm your password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePassword('reg-confirm-password')"></i>
            </div>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</div>

<script>
function togglePassword(fieldId) {
    const passwordField = document.getElementById(fieldId);
    const icon = passwordField.nextElementSibling;
    if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        passwordField.type = "password";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}
</script>
